cors:
  originPatterns: http://localhost:3000,http://localhost:8080,https://phyllipesa.com.br
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rest_with_spring_boot_udemy?useTimezone=true&serverTimezone=UTC
    username: root
    password: 1234567
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
    show-sql: false
spring-doc:
  pathsToMatch: /api/**/**/**
  swagger-ui:
    user-root-path: true

# Configuração específica do Flyway
flyway:
  enabled: true
  locations: classpath:db.migration